<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wetterstation</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
            </ul>
        </nav>
        <h3 class="text-muted">Wetterstation</h3>
    </div>

    <div class="jumbotron">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <footer class="footer">

    </footer>

</div>
<!-- /container -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/chartjs/Chart.js"></script>
<script>
    var chartThisMonth = new Chart(document.getElementById("myChart").getContext("2d")).Line(
            {
                labels: ["<?= implode('", "', $datestm); ?>"],
                datasets: [
                    {
                        label: "Entwicklung der Zahlungseingänge",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [ < ? = implode(',', $sumstm);
    ?
    >]
    }
    ]
    },
    {
        tooltipFontSize: 10,
                tooltipTitleFontSize
    :
        12,
                scaleFontSize
    :
        10,
                tooltipTemplate
    :
        "<%if (label){%><%=label%>: <%}%><%= numeral(value).format('0,0.00 $') %>",
                scaleOverride
    :
        true,
                scaleSteps
    : <
        ? = (max($sumstm)) / 5 + 1;
        ?
    >,
        scaleStepWidth: 5,
                scaleStartValue
    :
        0,
                scaleLabel
    :
        "<%= numeral(value).format('0,0.00 $') %>"
    }
    ),

    chartPerMonth = new Chart(document.getElementById("payments_per_month").getContext("2d")).Line(
            {
                labels: ["<?= implode('", "', $dates); ?>"],
                datasets: [
                    {
                        label: "Entwicklung der Zahlungseingänge (monatlich)",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [ < ? = implode(',', $sums);
    ?
    >]
    }
    ]
    },
    {
        tooltipFontSize: 10,
                tooltipTitleFontSize
    :
        12,
                scaleFontSize
    :
        10,
                tooltipTemplate
    :
        "<%if (label){%><%=label%>: <%}%><%= numeral(value).format('0,0.00 $') %>",
                scaleOverride
    :
        true,
                scaleSteps
    : <
        ? = (max($sums) - min($sums)) / 200 + 1;
        ?
    >,
        scaleStepWidth: 200,
                scaleStartValue
    : <
        ? = floor(min($sums) / 100) * 100;
        ?
    >,
        scaleLabel: "<%= numeral(value).format('0,0.00 $') %>"
    }
    )
    ;
</script>
</body>
</html>
